@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure, hr,
fieldset, legend,
input, button, textarea,
th, td {
  margin: 0;
  padding: 0;
}

input, button, textarea, select {
  font: inherit;
}

body {
  line-height: 1.5;
  background-color: #fff;
  color: #000;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img, svg {
  vertical-align: middle;
}

:root {
  --extra-line-space: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  color: #D4D4D8;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(1em + var(--extra-line-space));
  letter-spacing: 0.3px;
  overflow-x: hidden;
  background: #000;
  width: 100%;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.headerBg {
  background-color: #fff;
}
.headerBg .header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  align-items: center;
  color: #000;
  padding: 25px 10px;
}
.headerBg .header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerBg .header .taskBar {
  display: flex;
  gap: 30px;
}
.headerBg .header .taskBar .header_taskBar_a {
  font-weight: 400;
  -webkit-text-stroke: 0.5px #000;
  display: inline-block;
  transition: transform 0.4s ease, color 0.5s ease;
}
.headerBg .header .taskBar .header_taskBar_a:hover {
  color: transparent;
  transform: scale(1.1);
}
.headerBg .header .translations {
  padding: 8px 13px;
  border: 1px solid #000;
  color: #fff;
  background: #000;
  display: inline-block;
  transition: transform 0.4s ease, color 0.5s ease;
}
.headerBg .header .translations:hover {
  color: #000;
  background: #fff;
}
.headerBg .header_mobile {
  display: none;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  align-items: center;
  color: #000;
  transition: transform 1s ease;
  padding: 25px 10px;
}
.headerBg .header_mobile .nav_mobile {
  display: flex;
  justify-content: space-between;
}
.headerBg .header_mobile .nav_mobile .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerBg .header_mobile .menu_mobile {
  display: none;
}
.headerBg .header_mobile .menu_mobile .taskBar_mobile {
  display: grid;
  margin: auto;
  text-align: center;
  gap: 15px;
}
.headerBg .header_mobile .menu_mobile .taskBar_mobile .header_taskBar_a {
  font-weight: 400;
  -webkit-text-stroke: 0.5px #000;
  display: inline-block;
  transition: transform 0.4s ease, color 0.5s ease;
}
.headerBg .header_mobile .menu_mobile .taskBar_mobile .header_taskBar_a:hover {
  color: transparent;
  transform: scale(1.1);
}
.headerBg .header_mobile .menu_mobile .translations {
  margin: auto;
  margin-top: 25px;
  padding: 8px 13px;
  border: 1px solid #000;
  color: #fff;
  background: #000;
  display: block;
  transition: transform 0.4s ease, color 0.5s ease;
}
.headerBg .header_mobile .menu_mobile .translations:hover {
  color: #000;
  background: #fff;
}
@media (max-width: 767px) {
  .headerBg .header {
    display: none;
  }
  .headerBg .header_mobile {
    display: block;
  }
}

.heroBg {
  background-color: #fff;
}
.heroBg .hero {
  display: flex;
  flex-direction: row-reverse;
  padding: 60px 10px;
}
.heroBg .hero .hero_info {
  max-width: 520px;
}
.heroBg .hero .hero_info .info_h {
  color: #000;
  padding-top: 50px;
}
.heroBg .hero .hero_info .info_h .hero_normal {
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0px;
}
.heroBg .hero .hero_info .info_h .hero_bold {
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.heroBg .hero .hero_info .info_h .hero_transparent {
  font-weight: 800;
  font-size: 46px;
  letter-spacing: 0px;
  -webkit-text-stroke: 1px #000;
  color: transparent;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.heroBg .hero .hero_info .info_p {
  color: #71717A;
  margin-top: 30px;
  margin-bottom: 50px;
}
.heroBg .hero .hero_info .info_icon {
  display: flex;
  justify-content: space-between;
  width: 320px;
}
.heroBg .hero .hero_info .info_icon a {
  width: 56px;
  height: 56px;
  display: inline-block;
  transition: transform 0.4s ease, color 0.5s ease;
  margin: auto;
}
.heroBg .hero .hero_info .info_icon a:hover {
  background: #71717A;
  border-radius: 10px;
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .heroBg .hero {
    display: block;
  }
  .heroBg .hero .hero_info .info_icon {
    margin: auto;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.skillsBg {
  background-color: #fff;
}
.skillsBg .skills {
  padding: 60px 10px;
}
.skillsBg .skills .skills_title {
  text-align: center;
  color: #000;
}
.skillsBg .skills .skills_title .skills_normal {
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0px;
}
.skillsBg .skills .skills_title .skills_bold {
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.skillsBg .skills .skills_skills {
  max-width: 1150px;
  margin: auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(56px, 186px));
  gap: 50px;
}
.skillsBg .skills .skills_skills .skills_card {
  border: 2px #000 solid;
  border-radius: 5px;
  align-items: center;
  text-align: center;
}
.skillsBg .skills .skills_skills .skills_card .skills_card_img {
  padding-top: 10%;
  width: 56px;
  height: 56px;
  margin: auto;
}
.skillsBg .skills .skills_skills .skills_card .skills_card_p {
  padding-top: 10%;
  padding-bottom: 10%;
  color: #000;
}
@media (max-width: 1149px) {
  .skillsBg .skills .skills_skills {
    max-width: 915px;
  }
}
@media (max-width: 915px) {
  .skillsBg .skills .skills_skills {
    max-width: 680px;
  }
}
@media (max-width: 768px) {
  .skillsBg .skills {
    padding: 0px 10px;
  }
}
@media (max-width: 680px) {
  .skillsBg .skills .skills_skills {
    max-width: 445px;
  }
}
@media (max-width: 445px) {
  .skillsBg .skills .skills_skills {
    max-width: 190px;
  }
}

.experienceBg {
  background-color: #000;
}
.experienceBg .experience {
  padding: 80px 10px;
}
.experienceBg .experience .experience_h2 {
  padding-bottom: 60px;
  text-align: center;
  color: #fff;
}
.experienceBg .experience .experience_h2 .experience_h2_normal {
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0px;
}
.experienceBg .experience .experience_h2 .experience_h2_bold {
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.experienceBg .experience .experience_block_black {
  padding: 15px 20px;
  border: 1px solid #71717A;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.experienceBg .experience .experience_block_black .experience_block_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 25px;
}
.experienceBg .experience .experience_block_black .experience_block_header .block_logo {
  display: flex;
  gap: 15px;
  align-items: center;
}
.experienceBg .experience .experience_block_black .experience_block_header .block_logo .experience_block_logo {
  width: 32px;
  height: 32px;
  border-radius: 5px;
}
.experienceBg .experience .experience_block_black .experience_block_header .block_logo .experience_block_h3 {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0px;
}
.experienceBg .experience .experience_block_black .experience_block_header .experience_block_data {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
}
.experienceBg .experience .experience_block_black .experience_block_info {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 30px;
}
.experienceBg .experience .experience_block_zinc {
  padding: 15px 20px;
  border: 1px solid #71717A;
  border-radius: 10px;
  background-color: #71717A;
}
.experienceBg .experience .experience_block_zinc .experience_block_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 25px;
}
.experienceBg .experience .experience_block_zinc .experience_block_header .block_logo {
  display: flex;
  gap: 15px;
  align-items: center;
}
.experienceBg .experience .experience_block_zinc .experience_block_header .block_logo .experience_block_logo {
  width: 32px;
  height: 32px;
  border-radius: 5px;
}
.experienceBg .experience .experience_block_zinc .experience_block_header .block_logo .experience_block_h3 {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0px;
}
.experienceBg .experience .experience_block_zinc .experience_block_header .experience_block_data {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
}
.experienceBg .experience .experience_block_zinc .experience_block_info {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .experienceBg .experience .experience_block_black .experience_block_header {
    display: block;
  }
  .experienceBg .experience .experience_block_black .experience_block_header .block_logo .experience_block_h3 {
    font-size: 16px;
  }
  .experienceBg .experience .experience_block_black .experience_block_header .experience_block_data {
    font-size: 12px;
  }
  .experienceBg .experience .experience_block_zinc .experience_block_header {
    display: block;
  }
  .experienceBg .experience .experience_block_zinc .experience_block_header .block_logo .experience_block_h3 {
    font-size: 16px;
  }
  .experienceBg .experience .experience_block_zinc .experience_block_header .experience_block_data {
    font-size: 12px;
  }
}

.aboutMeBg {
  background-color: #fff;
}
.aboutMeBg .aboutMe {
  padding: 60px 10px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.aboutMeBg .aboutMe .aboutMe_img {
  max-width: 450px;
}
.aboutMeBg .aboutMe .aboutMe_block {
  max-width: 610px;
  padding-top: 30px;
}
.aboutMeBg .aboutMe .aboutMe_block .aboutMe_h3 {
  color: #000;
}
.aboutMeBg .aboutMe .aboutMe_block .aboutMe_h3 .aboutMe_h3_normal {
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0px;
}
.aboutMeBg .aboutMe .aboutMe_block .aboutMe_h3 .aboutMe_h3_bold {
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.aboutMeBg .aboutMe .aboutMe_block .aboutMe_p {
  color: #71717A;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}
@media (max-width: 1023px) {
  .aboutMeBg .aboutMe {
    display: block;
    margin: auto;
    text-align: center;
  }
  .aboutMeBg .aboutMe .aboutMe_img {
    max-width: 300px;
    margin: auto;
  }
  .aboutMeBg .aboutMe .aboutMe_block {
    margin: auto;
  }
}

.testimonialBg {
  background-color: #fff;
}
.testimonialBg .testimonial {
  padding: 60px 10px;
}
.testimonialBg .testimonial .testimonial_h2 {
  color: #000;
  text-align: center;
}
.testimonialBg .testimonial .testimonial_h2 .testimonial_h2_normal {
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0px;
}
.testimonialBg .testimonial .testimonial_h2 .testimonial_h2_bold {
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}
.testimonialBg .testimonial .testimonial_block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 60px;
  color: #404040;
}
.testimonialBg .testimonial .testimonial_block .testimonial_card {
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.75);
  max-width: 370px;
}
.testimonialBg .testimonial .testimonial_block .testimonial_card .testimonial_card_img {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 25px;
}
.testimonialBg .testimonial .testimonial_block .testimonial_card .testimonial_card_info {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 25px;
  padding-right: 10px;
  padding-left: 10px;
}
.testimonialBg .testimonial .testimonial_block .testimonial_card .testimonial_card_line {
  padding: 1px;
  background-color: #404040;
  display: inline-block;
  width: 120px;
  margin: auto;
}
.testimonialBg .testimonial .testimonial_block .testimonial_card .testimonial_card_name {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.testimonialBg .testimonial .testimonial_card_black {
  background-color: #000;
  color: #fff;
}
@media (max-width: 767px) {
  .testimonialBg .testimonial .testimonial_block {
    display: block;
  }
  .testimonialBg .testimonial .testimonial_block .testimonial_card {
    margin: auto;
    margin-bottom: 20px;
  }
}

.contactFormBg {
  background-color: #fff;
}
.contactFormBg .contactForm {
  padding: 60px 10px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.contactFormBg .contactForm .contactForm_form {
  width: 90%;
  max-width: 500px;
  display: grid;
  gap: 20px;
}
.contactFormBg .contactForm .contactForm_form .contactForm_input {
  width: 100%;
  padding: 20px 15px;
  border: #000 solid 1px;
  border-radius: 5px;
  color: #71717A;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
}
.contactFormBg .contactForm .contactForm_form .contactForm_input_textarea {
  resize: none;
  width: 100%;
  padding: 20px 15px;
  border: #000 solid 1px;
  border-radius: 5px;
  color: #71717A;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
}
.contactFormBg .contactForm .contactForm_form .contactForm_button {
  padding: 15px 15px;
  border: #000 solid 1px;
  border-radius: 5px;
  color: #fff;
  background: #000;
  display: inline-block;
  transition: transform 0.4s ease, color 0.5s ease;
}
.contactFormBg .contactForm .contactForm_form .contactForm_button:hover {
  color: #000;
  background: #fff;
}
.contactFormBg .contactForm .contactForm_info {
  width: 90%;
  max-width: 600px;
}
.contactFormBg .contactForm .contactForm_info .contactForm_info_header {
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0px;
  display: inline-block;
  color: #000;
}
.contactFormBg .contactForm .contactForm_info .contactForm_info_header span {
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
}
.contactFormBg .contactForm .contactForm_info .contactForm_info_header .contactForm_info_header_s {
  -webkit-text-stroke: 1px #000;
  color: transparent;
}
.contactFormBg .contactForm .contactForm_info .contactForm_info_header_p {
  padding-top: 20px;
  padding-bottom: 40px;
  color: #71717A;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}
.contactFormBg .contactForm .contactForm_info .contactForm_info_header_p_con {
  color: #000;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .contactFormBg .contactForm {
    display: block;
  }
  .contactFormBg .contactForm .contactForm_form {
    margin: auto;
  }
  .contactFormBg .contactForm .contactForm_info {
    margin-top: 20px;
  }
  .contactFormBg .contactForm .contactForm_info .contactForm_info_header {
    font-weight: 600;
    font-size: 38px;
  }
  .contactFormBg .contactForm .contactForm_info .contactForm_info_header span {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .contactFormBg .contactForm .contactForm_info .contactForm_info_header_p {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .contactFormBg .contactForm .contactForm_info .contactForm_info_header_p_con {
    font-size: 16px;
  }
}

.footerBg {
  background-color: #000;
}
.footerBg .footer {
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerBg .footer .footer_logo_img {
  max-width: 140px;
  max-height: 40px;
}
.footerBg .footer .footer_info {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
}
@media (max-width: 424px) {
  .footerBg .footer .footer_logo_img {
    display: none;
  }
  .footerBg .footer .footer_info {
    text-align: center;
    margin: auto;
  }
}/*# sourceMappingURL=index.css.map */